html,
body {
  margin: 0;
  padding: 0;
}

.App {
  &__header {
  }
  &__title {
    margin: 0;
    padding: 0;
    &--groups,
    &--users {
      margin: 0 1rem;
    }
  }
  &__add-new-user {
    width: calc(100% - 2rem);
    padding: 0;
    margin: 1rem;
  }
  &__input {
    &--add-user {
      width: calc(100% - 8rem);
      display: inline-block;
    }
  }
  &__button {
    &--add-user {
      width: 6.5rem;
      margin-left: 1rem;
    }
  }
}
