.Groups {
  display: block;
  width: calc(100% - 4rem);
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid black;
  &__new-group {
    display: inline-block;
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
    padding: 0.25rem;
  }
  &__button {
    display: inline-block;
    &--add-group {
      margin-left: 1rem;
      max-width: 7rem;
    }
    &--remove-group {
      float: right;
      margin-left: 0.25rem;
      padding: 0;
      border: 0;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
      line-height: 1.35rem;
      vertical-align: middle;
      border-radius: 1rem;
      background-color: red;
      color: white;
      text-align: center;
    }
  }
  &__groups {
    padding: 0;
  }
  &__group {
    list-style: none;
    background-color: #eee;
    display: block;
    padding: 1rem;
    width: calc(100% - 2rem);
    margin: 0.25rem 0;
  }
}
