.User {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  &__toggle-editable {
    float: right;
  }
  &__name-label,
  &__description-label,
  &__groups-label {
    display: block;
    margin-bottom: 0.5rem;
  }
  &__description-label,
  &__groups-label {
    margin-top: 0.5rem;
  }
  &__button {
    &--delete {
      float: right;
    }
  }
  &__name {
    margin-top: 0;
    &--editable {
      display: block;
      width: 70%;
    }
  }
  &__description {
    &--editable {
      display: block;
      width: 100%;
    }
  }
}
